@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
body {
    background: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Berkshire Swash";
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .search-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
    width: 80%; 
  }

  #searchButton {
    width: 100%;
    padding: 15px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #1995AD; 
    color: #fff;
    cursor: pointer;
  }
  

#cityResults {
list-style-type: none;
margin: 0;
padding: 0;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 4px;
position: absolute;
background-color: #f9f9f9;
/* width: 80%; */
z-index: 1;
max-height: 150px;
overflow-y: auto;
}


#cityResults li {
padding: 10px;
cursor: pointer;
transition: background-color 0.3s;
}

#cityResults li:hover {
background-color: #f9f9f9;
}


/* Ajoutez ces styles à votre fichier CSS existant */

#List{
  max-width: 85%;
  margin: 0 auto;
}

#List ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#List li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

#List p {
  font-size: 16px;
}

#List a.btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1995AD;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

#List a.btn:hover {
  background-color: #147688;
}

.color{
  color:#1995AD;
  display: inline;
}

#photos{
  gap: 10px;
}

.resultats{
  color: white;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

#titre{
  color: white;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

a{
  color: #1995AD;
}