@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
@import url(https://fonts.googleapis.com/css?family|Racing+Sans+One:regular);

body {
    font-family: "Berkshire Swash";
    background-color: #f1f1f1;
}

.centered-div {
    text-align: center;
    margin: 5% auto; /* Centrer verticalement et horizontalement */
    width: 90%;
    max-width: 500px; /* Limite la largeur pour de meilleurs résultats sur mobile */
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 15px 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.centered-div-image {
    text-align: center;
}

.centered-div-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 175px;
}

#text{
    text-align: justify
}
h1 {
    color: #1995AD;
    font-weight: 500;
}

.form-control {
    background-color: #d9d9d9;
    border: #f1f1f2 1px solid;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
}

p {
    width: 90%;
    margin: 0 auto;
}

form {
    margin: 10px 0;
}

#suivant {
    margin-left: 70%;
    background-color: #1995AD;
    color: #ffffff;
    border: #1995ad 1px solid;
    border-radius: 10px;
    width: 30%;
}
input::placeholder {
    font-family: Arial,sans-serif; /* Remplacez "VotrePolice" par le nom de la police souhaitée */
    font-weight: 600;
    color: #999; /* Modifiez la couleur du texte de l'attribut "placeholder" */
}