@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One:regular);

/* Ajoutez du CSS personnalisé */
body {
    font-family: "Berkshire Swash";
    background-color: #f1f1f1;
    margin: 0; /* Réinitialisez la marge par défaut */
}

.centered-div {
    position: relative; /* Utilisez position relative */
    margin-top: 5%;
    width: 70%; 
    margin: 0 auto; /* Centrez horizontalement */
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 15px 5px 5px 5px rgb(0, 0, 0, 0.4);
    border-radius: 33px;
}

h1 {
    color: #1995AD;
    font-weight: 500;
}

.form-control {
    padding: 7px;
    padding-left: 5px;
    background-color: #d9d9d9;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #f1f1f2;
    border-top: 2px solid #f1f1f1;
    border-radius: 33px;
}

input::placeholder {
    font-family: Arial, sans-serif;
}

.custom-radio {
    display: inline-block;
    margin-right: 20px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #1995AD;
    border-radius: 50%;
    margin-right: 5px;
}
.espace{
    margin-top: 5%;
}

.custom-radio input[type="radio"]:checked + label::before {
    background-color: #1995AD;
}

a {
    color: #1995AD;
}

#btn-inscrip {
    background-color: #1995AD;
    color: #f1f1f2;
    height: 40px; /* Ajustez la hauteur pour une meilleure expérience sur mobile */
    width: 100%;
    border: 1px solid #1995AD;
    border-radius: 33px;
}