
Options +FollowSymlinks

RewriteEngine on
# Règles de protection des fichiers sensibles
<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|css|js)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
<FilesMatch "\.(jpg|jpeg|png|gif|css|js)$">
    ExpiresDefault "access plus 1 year"
</FilesMatch>

RewriteRule ^accueil index.php [L]

RewriteRule ^connexion connexion.php [L]

RewriteRule ^inscription inscription.php [L]

RewriteRule ^profil$ hello.php [L]

RewriteRule ^destination activite.php [L]

RewriteRule ^hotel hotel3.php [L]

RewriteRule ^contact contact.php [L]

RewriteRule ^vol book1.php [L]

