
/* LE FOOTER  */
#footer {
    background-color: #A1D2E6;
    margin-bottom: 0px;
}

#slogan {
    font-family: "Racing Sans One";
    text-align: center;
    color: white;
}

.navfooter {
    color: white;
}
body {
    margin: 0;
  }