@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One:regular);

body {
    font-family: "Berkshire Swash";
    color: white;
    background-color: #A1D2E6;
}

/* CAROUSEL */
.c-item {
    height: 520px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    margin-bottom: 100px;
}

.paragraphcarousel {
    font-size: 1rem;
    text-shadow: 1px 1px black;
}

.DesTitle {
    font-size: 6rem;
}

.imgcarousel {
    object-fit: cover;
}

@media (max-width: 700px) {
    .carousel-caption {
        display: none;
    }

    .lanav .collapse {
        top: 3px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.484);
        border-radius: 20px;
        padding: 10px;
    }
}

.partie1 {
    background-color: #A1D2E6;
}

#textdecouverte {
    margin-top: 20px;
    font-size: 3rem;
}

* {
    box-sizing: border-box;
    font-family: "Berkshire Swash";
}

.catwrapper {
    margin-left: 15%;
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.catcard {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin: 15px;
}

.catcard:hover {
    transform: translateY(20px);
}

.catcard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(131, 191, 243, 0.5), rgb(60, 183, 221));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.catcard:hover:before {
    opacity: 1;
}

.catcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.catcard .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.catcard:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.catcard .info h5 {
    margin: 0;
}

.catcard .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.catcard .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.btn {
    margin: 10px;
}

.catcard .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.bg {
    max-width: 100%;
    /* overflow: hidden; */
    height: 520px;
    background-position: cover;
    background-repeat: no-repeat;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partie2 {
    position: relative;
}

/* weathercard */
.weathercard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 235px;
    padding: 25px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
}

.weatherpartie {
    width: 300px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.cloud {
    width: 250px;
}

.front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
}

.back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
}

.right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
}

.left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
}

.left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
}

.sunshine {
    animation: sunshines 2s infinite;
}

@keyframes sunshines {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes clouds {
    0% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(15px);
    }
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-header span:first-child {
    word-break: break-all;
    font-weight: 800;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
    font-weight: 700;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.33);
}

.temp {
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
}

.temp-scale {
    width: 80px;
    height: 36px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
}

.temp-scale span {
    font-weight: 700;
    font-size: 13px;
    line-height: 134.49%;
    color: rgba(87, 77, 51, 0.66);
}

.cookie-banner {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    right: 10%;
    width: 30%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cookie-banner a {
    color: #4c9beb;
}

.close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One:regular);

/* Ajoutez du CSS personnalisé */
body {
    font-family: "Berkshire Swash";
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #f1f1f1; */
    margin: 0;
    padding: 0;
    /* Réinitialisez la marge par défaut */
}

main {
    /* background-image: url("images/background.png"); */
    width: 100%;
}

.centered-div {
    /* position: relative; */
    /* Utilisez position relative */
    /* margin-top: 5%; */
    width: 80%;
    margin: 80px auto;
    /* Centrez horizontalement */
    padding: 20px;
    /* text-align: center; */
    background-color: #ffffff;
    box-shadow: 15px 5px 5px 5px rgb(0, 0, 0, 0.4);
    border-radius: 33px;
}

#titreinscri {
    color: #1995AD;
    font-weight: 500;
    /* text-align: center; */
}

#petit {
    text-align: center;
    color: black;
}

.jsp {
    width: 75%;
    height: auto;
}

.hello {
    padding-left: 30px;
    background-color: #d9d9d9;
    max-width: 100%;
    width: 100%;
    height: 52px;
    margin: 0 auto;
    border: 1px solid #f1f1f2;
    border-top: 2px solid #f1f1f1;
    border-radius: 33px;
}

#nom::placeholder,
#prenom::placeholder,
#email::placeholder,
#login::placeholder,
#mot-de-passe2::placeholder,
#mot-de-passe3::placeholder,
#date::placeholder {
    color: rgb(167, 167, 167);
    /* padding-left: 10px; */
}

/* input:focus {
    outline: none;
    /* Supprime la bordure lorsqu'un champ de saisie est sélectionné */


/* .custom-radio input[type="radio"] {
    display: none;
} */

.espace {
    margin-top: 5%;
}

#compte {
    color: black;
}

a {
    color: #1995AD;
}

#btn-inscrip {
    background-color: #1995AD;
    color: #f1f1f2;
    height: 40px;
    /* Ajustez la hauteur pour une meilleure expérience sur mobile */
    width: 100%;
    border: 1px solid #1995AD;
    border-radius: 33px;
}

.recaptcha-container {
    max-width: 100px;
    /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
    /* Centrez horizontalement */
    width: 100%;
    /* Rendre responsive */
}

#lep {
    color: black;
}

.centered-div2 {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 33px;
    width: 50%;
    margin: 130px auto;
}

header {
    background-color: #A1D2E6;
}

#titre2 {
    color: #1995AD;
    font-weight: 500;
}

.centered-div-image {
    text-align: center;
    margin-bottom: 5%;
}

.centered-div-image img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 175px;
}

.form-control {
    background-color: #f1f1f2;
    border: 1px solid #f1f1f2;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
    border-top: 2px solid #1995AD;
}

/* input::placeholder {
    font-family: Arial, sans-serif;
} */



a {
    color: #1995AD;
}

@media(max-width:518px) {
    .mybtns {
        width: 100%;
        margin-top: 10px;
    }

    .espace .monespace {
        width: 100%;
        padding: 30px;
    }
}