/* @import url(https://fonts.googleapis.com/css?family|Racing+Sans+One:regular); */
/* @import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:bold);
 */
/* @import url(https://fonts.googleapis.com/css?family=Berkshire+Swash:regular);
@import url(https://fonts.googleapis.com/css?family=Kalnia:regular); */

body {
    font-family: "Berkshire Swash";
    background-color: #f1f1f1;

}


ul.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #fff;
}

#suggestionsList {
    z-index: 1;
}

.btnselect {
    padding: 10px;
    width: 100%;
}

#suggestionsList2 {
    position: absolute;
    top: 100%;
    /* Adjust this value as needed */
    left: 0;
    width: 100%;
    max-height: 150px;
    /* Set a maximum height */
    overflow-y: auto;
    border: 1px solid #fff;
    /* Add a border for better visibility */
}

#suggestionsList2 {
    z-index: 1;
}

ul.suggestions-list li {
    padding: 10px;
    /* position: absolute; */
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
}

ul.suggestions-list li:hover {
    background-color: #f1f1f1;
}

/* Ajoutez ces styles pour améliorer l'apparence de la liste de suggestions */


.centered-div {

    margin: auto auto;
    /* Centrer verticalement et horizontalement */
    width: 95%;
    max-width: 800px;
    /* Limite la largeur pour de meilleurs résultats sur mobile */
    padding: 5px;
    border-radius: 10px;
}

.macouleur {
    background-color: #a1d2e6;
    margin-top: 10%;
    padding-top: 2px;
    padding-bottom: 1px;
    box-shadow: 15px 5px 5px 5px rgba(0, 0, 0, 0.4);

}

h1 {
    font-size: 20px;
    color: #1995ad;
}

.bloc {
    width: 98%;
    margin-top: 2px;
    margin-left: 1%;
    padding: 6px;

    margin-right: 1%;
    background-color: #ffffff;
}

.space {
    padding-left: 10px;
    border-left: 1px black solid;
}

.espace {
    margin-top: 6%;

}

.col-2 p {
    margin-bottom: 2px;
    /* Ajustez la valeur selon vos besoins */
}

.col-2 span {
    margin-top: 2px;
    /* Ajustez la valeur selon vos besoins */
}

.jesuisuneform {
    margin: 0 auto;
    
}

.claire {
    margin-bottom: 20px;
}



input {
    margin-left: 5%;
    width: 80%;

    color: white;
    border: 1px #1995ad solid;
    background-color: #1995ad;
    border-radius: 30px;

}



p {
    font-size: 16px;
    color: #000;
    font-family: Adamina;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1px;
}

span {
    color: #1995ad;
    font-size: 14px;
    font-weight: 300;
}

.jesuisennoir {
    color: #000;
    font-family: Adamina;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1px;

}

@media screen and (min-width: 600px) {
    body {
        flex-direction: row;
    }
}